.panel.panel-default
  .panel-heading= t '.title'
  .panel-body
    = devise_error_messages!
    = semantic_form_for :user, as: resource_name, url: confirmation_path(resource_name) do |f|
      = f.inputs do
        = f.input :email, label: false, hint: t('.hint')
      = f.actions do 
        = f.action :submit, label: t('.submit')
    .login-or
      %hr.hr-or
        %span.span-or or
    = render "devise/shared/providers"
  .panel-footer= render "devise/shared/links"