%section#content
  .perform
    %header.main
      %h2= t '.title'
    = simple_form_for resource, as: resource_name, url: confirmation_path(resource_name) do |f|
      = f.input :email, label: false, hint: t('.hint')
      = f.button :submit, t('.submit')
  .alternatives
    %header.main
      %h2= t '.alternatives'
    = render "devise/shared/providers"
    = render "devise/shared/links"
