#content
  .span8.offset2
    .row-fluid
      .span5
        .row-fluid
          %legend= t '.title'
          = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
            = f.input :email, label: false, input_html: { class: 'span12' }
            = f.input :password, label: false, input_html: { class: 'span12' }
            = f.input :password_confirmation, label: false, input_html: { class: 'span12' }
            = f.button :submit, t('.submit'), class: 'btn btn-info btn-block'
      .span5.offset2
        .right
          %legend= t '.alternatives'
          = render "devise/shared/providers"
          = render "devise/shared/links"
