%section#main-content
  .perform
    %header.main
      .content
        %h2= t '.title'
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
      = f.input :email, label: false
      = f.input :password, label: false
      = f.input :password_confirmation, label: false
      = f.button :submit, t('.submit')
  .alternatives
    %header.main
      .content
        %h2= t '.alternatives'
    = render "devise/shared/providers"
    = render "devise/shared/links"
