%section#content
  .perform
    %header.main
      %h2= t '.title'
    = simple_form_for :user, url: user_session_path do |f|
      = f.input :email, label: false
      = f.input :password, label: false
      = f.input :remember_me, as: :boolean, label: false, inline_label: t('.remember_me')
      = f.button :submit, t('.submit')
  .alternatives
    %header.main
      %h2= t '.alternatives'
    - if Auth::Config.twitter_key
      = link_to 'Twitter', '/auth/users/auth/twitter', class: 'btn btn-block btn-primary' if Auth::Config.twitter_key
      %br/
    - if Auth::Config.facebook_key
      = link_to 'Facebook', '/auth/users/auth/facebook', class: 'btn btn-block btn-primary'
      %br/
    = link_to t('.sign_up'), new_user_registration_path