%section#main-content
  .perform
    %header.main
      .content
        %h2= t '.title'
    = simple_form_for resource, as: resource_name, url: password_path(resource_name), method: :put do |f|
      = f.input :reset_password_token, as: :hidden
      = f.input :password, label: false
      = f.input :password_confirmation, label: false
      = f.button :submit, t('.submit')
  .alternatives
    %header.main
      .content
        %h2= t '.alternatives'
    = render "devise/shared/providers"
    = render "devise/shared/links"