%section#content
  .perform
    %header.main
      %h2= t '.title'
    = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      = f.input :email, label: false
      = f.input :password, label: false
      = f.input :remember_me, as: :boolean, label: false, inline_label: t('.remember_me') if devise_mapping.rememberable?
      = f.button :submit, t('.submit')
  .alternatives
    %header.main
      %h2= t '.alternatives'
    = render "devise/shared/providers"
    = render "devise/shared/links"
